body {
    font-family: "Iceland", sans-serif;
}

#scene {
    background-color: lime;
    position: absolute;
}

table.stat {
    background-color: white;
    border: 3px solid black;
    
    bottom:10px;
    width: 150px;
    position: fixed;
}

table.stat.p1 {
    left: 10px;
}

table.stat.p2 {
    right: 10px;
}

th.stat {
    font-size: 200%;
}

.key {
    font-weight: bold;
    text-align: center;
}

.value {
    text-align: center;
}

/*
 This is a poem
 about coding.
 There is a problem:
 Xcode does not allow
 for extra scrolling.
 
 How, then, you ask,
 is it possible
 to scroll
 past the limits
 of the code?
 
 The answer
 is simple.
 Either add
 line breaks
 or a poem,
 whitespace
 or words.
 
 I have chosen
 the latter.
 You can probably
 tell
 because this
 is not
 whitespace.
 
 It is a poem
 (which is,
 in this case,
 just a set of
 sentences
 with some line breaks
 in between).
 
 How would this poem look
 without line breaks?
 
 This is prose about coding. There is a problem: Xcode does not allow for extra scrolling.
 How, then, you as, is it possible to scroll past the limits of the code?
 The answer is simple. Either add line breaks or prose, whitespace or words.
 I have chosen the latter. You can probably tell because this is not whitespace.
 It is prose (which is, in this case, just a poem without line breaks).
 How would this prose look with some line breaks? See above.
 */
