/* TODO: Use CSS to animate the spaceships' moves, attacks, and deaths. This is the LAST item in the old Checkpoint 1 (which was a list of todo's that I made for myself to complete before adding new new features), and once it is implemented it will be time to draw up Checkpoint 2 and get started on implementing the strategy of the game! (or just work on the realtime spinoff for a while)  */

body {
    font-family: "Iceland", sans-serif;
}

.hidden {
    visibility: hidden;
}

/*** Stats table ***/

.stats {
    text-align: center;
}

table.stats {
    background-color: white;
    border: outset 5px gray;
    bottom: 10px;
    left: 10px;
    width: 150px;
    position: fixed;
}

.stats.alert {
    color: #A00;
    font-size: 110%;
}

.stats.title {
    font-size: 125%;
}

.stats.key {
    /* affects the prefixes to the player info stats e.g. the text "Player: " */
}

.stats.value {
    /* affects the actual numbers for player info stats e.g. the "1" in "Player: 1"*/
}

.stats#helper {
    text-align: center;
}

/*** SVGs ***/

[highlight="none"] .highlight * {
    fill-opacity: 0;
}

[highlight="tile_move"] .highlight * {
    fill-opacity: 0.2;
    fill: blue;
}

[highlight="tile_attack"] .highlight * {
    fill-opacity: 0.4;
    fill: red;
}

[highlight="unit_idle"] .highlight * {
    fill-opacity: 0.2;
}

[player="1"] .highlight * {
    fill: aqua;
}

[player="2"] .highlight * {
    fill: red;
}

#scene {
    -webkit-user-select: none;
    user-select: none;
}

[highlight="unit_selected"] .highlight * {
    animation-duration: 1s;
    animation-name: pulse;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 1s;
    -webkit-animation-name: pulse;
    -webkit-animation-iteration-count: infinite;
}

@keyframes pulse {
    from {
        fill-opacity: 0.2;
    }
    
    50% {
        fill-opacity: 0.35;
    }
    
    to {
        fill-opacity: 0.2;
    }
}

@-webkit-keyframes pulse {
    from {
        fill-opacity: 0.2;
    }
    
    50% {
        fill-opacity: 0.35;
    }
    
    to {
        fill-opacity: 0.2;
    }
}

.gun {
    transform-origin: 15.5px 18px;
    animation-duration: 5s;
    animation-name: rotategun;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-transform-origin: 15.5px 18px;
    -webkit-animation-duration: 5s;
    -webkit-animation-name: rotategun;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@keyframes rotategun {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotategun {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

/*
 This is a poem
 about coding.
 There is a problem:
 Xcode does not allow
 for extra scrolling.
 
 How, then, you ask,
 is it possible
 to scroll
 past the limits
 of the code?
 
 The answer
 is simple.
 Either add
 line breaks
 or a poem,
 whitespace
 or words.
 
 I have chosen
 the latter.
 You can probably
 tell
 because this
 is not
 whitespace.
 
 It is a poem
 (which is,
 in this case,
 just a set of
 sentences
 with some line breaks
 in between).
 
 How would this poem look
 without line breaks?
 
 This is prose about coding. There is a problem: Xcode does not allow for extra scrolling.
 How, then, you as, is it possible to scroll past the limits of the code?
 The answer is simple. Either add line breaks or prose, whitespace or words.
 I have chosen the latter. You can probably tell because this is not whitespace.
 It is prose (which is, in this case, just a poem without line breaks).
 How would this prose look with some line breaks? See above.
 */
